* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: black;
}

html, body {
    height: 100%;
}

.medium {
    font-size: 25px;
    margin-right: -5px;
}

.logo {
    font-size: 35px;
    color: #F7DDD9
}

.navbar {
    background-color: #ec5822;
}

nav > ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

nav > ul > li {
    text-decoration: none;
}

.flex {
    display: flex;
    align-items: center;
}

.navbar .flex {
    justify-content: space-between;
}

.container {
    padding: 15px 25px;
}

li > a {
    text-decoration: none;
    color: #F7DDD9;
}

li > a:hover {
    border-bottom: 2px solid wheat;
}

.hero-div { 
    background-color: #ec5822;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
}
.hero-left {
    width: 25%;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
}

.hero-left h1 {
    font-size: 50px;
    color: #F7DDD9;
    margin-bottom: 10px;
}

.hero-left h3 {
    font-size: 20px;
    color: wheat;
}

.btn {
    background-color:#8a2a08;
    font-size: 20px;
    color: aliceblue;
    border:none;
    padding: 7px;
    margin-top: 15px;
}    

.hero-left .btn {
    align-self: flex-start;
}

.hero-left .btn:hover {
    background-color: #A7655E;
}

.hero-left .btn:active {
    background-color: rgb(214, 94, 25);
    transition: 0.2ms ease-in;
}

.hero-right img{
    object-fit: cover;
    height: 250px;
}

.infos {
    flex-direction: column;
    height: 60%;
}

.infos h1 {
    padding: 50px 0;
}

.cards {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.cards > * {
    flex: 1;
}

.cards .adv-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adv-card .info-pic img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 5px solid #ff7f50;
}


.info-text {
    width: 80%;
    margin-top: 15px;
}

.info-text p {
    font-size: small;
}

.centered {
    text-align: center;
    padding: 0 30px;
}

.comment {
    margin-top: 50px;
    height: 40%;
    background-color: rgb(173, 165, 165);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comment h3 {
    align-self: flex-end;
}

.sign-in-div{
    display: flex;
    flex-direction: column;
    height: 35%;
    justify-content: center;
}

.sign-in-card {
    display:flex;
    align-self: center;
    width: 60%;
    height: 50%;
    justify-content: space-evenly;
    align-items: center;
    background-color:#ff7f50;
}

.sign-in-card .btn:hover {
    background-color: #A7655E;
}

.sign-in-card .btn:active {
    background-color: rgb(214, 94, 25);
    transition: 0.2ms ease-in;
}

.sign-p h2 {
    color: #F7DDD9;
}
.sign-p p {
    color: #F7DDD9;
}

footer {
    background-color: #ec5822;
    height: 50px;
}


